<div class="container">
  <%= form_for (purchase), html: {class: "form-horizontal"} do |f| %>
    <% purchase.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :cliente, class: "col-sm-2 text-left" %>
      <div class="col-sm-4">
        <%= f.select :id_cliente, Client.pluck(:nombres, :id), class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :product, class: "col-sm-2 text-left" %>
      <div class="col-sm-4">
        <%= f.select :id_producto, Product.pluck(:producto, :id), class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :precio, class: "col-sm-2 text-left" %>
      <div class="col-sm-4">
        <%= f.text_field :precio, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :descripcion, class: "col-sm-2 text-left" %>
      <div class="col-sm-4">
        <%= f.text_area :descripcion, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sede, class: "col-sm-2 text-left" %>
      <div class="col-sm-4">
        <%= f.select :id_sede, Headquarter.pluck(:sede, :id), { include_blank: true } %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.submit nil, class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
