<div class="container-fluid">
  <table class="table-bordered">
    <tr>
      <th>Documento: <%= client.documento %></th>
      <th>Nombre: <%= client.nombres %></th>
    </tr>
    <tr>
      <th>Id Producto</th>
      <th>Nombre Producto</th>
      <th>Sede</th>
      <th>Precio</th>
    </tr>
    <% client.purchases.each do |purchase| %>
      <tr>
        <td>
          <%= purchase.product.try(:id) %>
        </td>
        <td>
          <%= purchase.product.try(:producto) %>
        </td>
        <td>
          <%= purchase.id_sede %>
        </td>
        <td>
          <%= purchase.precio || purchase.product.try(:precio) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
